<!DOCTYPE html>
<html>
    <head>
        <title> Your Recommendations </title>
        <link rel="stylesheet" href="../static/css/songs.css"/>
    </head>
    <body>
        <div class="container">
            <a href = "{{link1}}"><img src="{{ albumImg1 }}" alt="Album Image"></a>
            <a href = "{{link2}}"><img src="{{ albumImg2 }}" alt="Album Image"></a>
            <a href = "{{link3}}"><img src="{{ albumImg3 }}" alt="Album Image"></a>
            <a href = "{{link4}}"><img src="{{ albumImg4 }}" alt="Album Image"></a>
            <a href = "{{link5}}"><img src="{{ albumImg5 }}" alt="Album Image"></a>
            <a href = "{{link6}}"><img src="{{ albumImg6 }}" alt="Album Image"></a>
            <a href = "{{link7}}"><img src="{{ albumImg7 }}" alt="Album Image"></a>
            <a href = "{{link8}}"><img src="{{ albumImg8 }}" alt="Album Image"></a>
            <a href = "{{link9}}"><img src="{{ albumImg9 }}" alt="Album Image"></a>
            <a href = "{{link10}}"><img src="{{ albumImg10 }}" alt="Album Image"></a>
        </div>
    </body>
</html>
