<!DOCTYPE html>
<html>
    <head>
        <title> Your Recommendations </title>
        <link rel="stylesheet" href="../static/css/songs.css"/>
    </head>
    <body>
        <div class="container">
            <h1> Your Songs </h1>
            <div class="songContainer">
                <a href = "{{link1}}"><img src="{{ albumImg1 }}" alt="Album Image"></a>
                <p class="title">{{name1}}</p> 
                <p class="artists">{{artist1}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link2}}"><img src="{{ albumImg2 }}" alt="Album Image"></a>
                <p class="title">{{name2}}</p> 
                <p class="artists">{{artist2}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link3}}"><img src="{{ albumImg3 }}" alt="Album Image"></a>
                <p class="title">{{name3}}</p> 
                <p class="artists">{{artist3}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link4}}"><img src="{{ albumImg4 }}" alt="Album Image"></a>
                <p class="title">{{name4}}</p> 
                <p class="artists">{{artist4}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link5}}"><img src="{{ albumImg5 }}" alt="Album Image"></a>
                <p class="title">{{name5}}</p> 
                <p class="artists">{{artist5}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link6}}"><img src="{{ albumImg6 }}" alt="Album Image"></a>
                <p class="title">{{name6}}</p> 
                <p class="artists">{{artist6}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link7}}"><img src="{{ albumImg7 }}" alt="Album Image"></a>
                <p class="title">{{name7}}</p> 
                <p class="artists">{{artist7}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link8}}"><img src="{{ albumImg8 }}" alt="Album Image"></a>
                <p class="title">{{name8}}</p> 
                <p class="artists">{{artist8}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link9}}"><img src="{{ albumImg9 }}" alt="Album Image"></a>
                <p class="title">{{name9}}</p> 
                <p class="artists">{{artist9}}</p> 
            </div>
            <div class="songContainer">
                <a href = "{{link10}}"><img src="{{ albumImg10 }}" alt="Album Image"></a>   
                <p class="title">{{name10}}</p> 
                <p class="artists">{{artist10}}</p> 
            </div>
        </div>
    </body>
</html>
